.slider {
  width: 93%;
  display: flex;
  align-items: center;
}

.sliding-div {
  margin-left: 20px;
}

.signature-dish {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.show-all-button {
  align-self: center;
  justify-content: center;
  background: #fff;
  border: 0px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  /* identical to box height, or 219% */

  text-align: right;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.div-title {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.card {
  flex-shrink: 0;
}
