.hero {
  background-image: url("hero-picture 1.png");
  width: 100%;
  height: 273px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-search {
  width: 90%;
  height: 50%;
  background: rgb(243, 240, 240);
  opacity: 0.9;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero-input {
  position: absolute;
  top: 200px;
  width: 80%;
  height: 30px;
  background: url("../../Data/Pictures/searchFigma.png") no-repeat scroll 10px;
  text-align: center;
  border-radius: 4px;
  border: 0.5px solid #000000;
}

.hero-input[type="text"]:focus {
  width: 85%;
  outline: none;
}

.hero-label {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  letter-spacing: 1.97px;

  color: #000000;
}
.suggest{
  background: #fafafa;
  width: 90%;
}
