.restaurants {
  margin-left: 20px;
  margin-right: 20px;
}
.restaurant-card img {
  width: 100%;
}
.restaurant-card {
  background: #f9f4ea;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
.restaurants-title {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 1.92px;
  text-transform: uppercase;
}

.restaurants-filters{
    margin-bottom: 20px;
}
.unclicked{
  border: 0px;
  background: #fff;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 1.92px;

  color: #000000;
}


.clicked-button{
    border: 0px;
    background: #fff;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1.92px;
    border-bottom:1.8px solid rgba(222, 146, 0, 0.9);
}
