.navbar{
    height: 46px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    

}

.navbar div{
    display: flex;
    width: 33%;
}

.nav-left{
    align-items: center;
}

.nav-center{
    align-items: center;
    justify-content: center;
}
.nav-right{
    width: 34%;
    align-items: center;
    justify-content: center;
}
.nav-right img{
    width: 20px;
}
.middle-icon{
    margin-left: 20%;
    margin-right: 20%;

}

.testDiv{
    display: flex;
    top:46px;
    position: absolute;
    background: #FAFAFA;
    width: 50vw;
}