.chef-of-the-week {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

.chef-of-the-week img{
  position: relative;
}
.chef-name {
  display: flex;
  position: absolute;
  top: 68vw;
  justify-content: center;
  background-color: #fafafa;
  opacity: 0.7;
  width: 100%;
  
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 47px;
  /* identical to box height, or 261% */
  text-align: center;
  letter-spacing: 2.67px;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.chef-title {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 35px;
  /* identical to box height, or 194% */

  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.chef-description {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  text-align: justify;
  letter-spacing: 1.25px;

  color: #000000;
}
